{
  "presets": ["next/babel"],
  "plugins": [
    "syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components"
        }
      }
    ]
  ]
}
